@media(max-width: 600px) {
    .main__ {
        height: calc(100vh - 6.25rem);
    }

    .footer__ {
        height: 100px;
        padding: 0 2rem;

        justify-content: center;
    }

    .clock__analog {
        width: 18.75rem;
        height: 18.75rem;

        .clock__pointer__hour {
            height: 8.25rem;

            &::before {
                height: 4.25rem;
            }
        }

        .clock__pointer__minute {
            height: 11.25rem;

            &::before {
                height: 5.75rem;
            }
        }

        .clock__pointer__second {
            height: 12.25rem;

            &::before {
                height: 8.375rem;
            }
        }
    }
}