@use './fonts'as font;
@use './colors'as color;
@use './breakpoints'as break;

// CSS RESET...
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

@media (max-width: break.$laptopXS) {
    html {
        font-size: 93, 75%;
    }
}

@media (max-width: break.$tabletSM) {
    html {
        font-size: 87, 5%;
    }
}

body {
    width: 100%;
    height: 100%;
    background-color: color.$colorsBlack2;

    font-family: font.$ffDefault;
    font-weight: font.$fwLight;
    font-size: font.$fsMD;
    color: color.$colorsGray2;
    line-height: font.$lhTall;
    text-transform: none;
}

img,
svg {
    max-width: 100%;
    display: block;
}

a {
    color: color.$colorsGray0;
    text-decoration: none;
    outline: none;
}